
/* Стили для центрирования и размещения отчётов один за другим */


h1 {
  text-align: center;
  margin-bottom: 20px;
}

.report_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  width: 700px;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card-body {
  padding: 30px;
}

.card-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.card-text {
  font-size: 20px;
  color: #666;
  margin-bottom: 15px;
}

.btn-primary {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 16px;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #014a98;
}
