sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
sub {
	vertical-align: baseline;
	position: relative;
	top: 0.4em;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
@media print{.stl_view {font-size:1em; transform:scale(1);}}
.grlink { position:relative;width:100%;height:100%;z-index:1000000; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	font-size: 1em;
	line-height: 0.0em;
	width: 70.16666em;
	height: 49.58333em;
	border-style: none;
	display: block;
	margin: 0em;
}

@supports(-ms-ime-align:auto) { .stl_02 {overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	position: absolute;
	left: 0em;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 70.16666em;
}
.stl_06 {
	height: 4.958333em;
}
.ie .stl_06 {
	height: 49.58333em;
}
@font-face {
	font-family:"GDAACW+LiberationSerif-Bold";
	src:url("b594b012-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 1em;
	font-family: "GDAACW+LiberationSerif-Bold";
	color: #000000;
}
.stl_08 {
	line-height: 1.041992em;
}
.stl_09 {
	letter-spacing: -0.004em;
}

.ie .stl_09 {
	letter-spacing: -0.0648px;
}
.stl_10 {
	letter-spacing: -0.0008em;
}

.ie .stl_10 {
	letter-spacing: -0.0121px;
}
.stl_11 {
	letter-spacing: -0.0028em;
}

.ie .stl_11 {
	letter-spacing: -0.0454px;
}
.stl_12 {
	letter-spacing: -0.0047em;
}

.ie .stl_12 {
	letter-spacing: -0.0747px;
}
.stl_13 {
	letter-spacing: -0.0005em;
}

.ie .stl_13 {
	letter-spacing: -0.0076px;
}
.stl_14 {
	-o-transform: scale(1,1.111111);
	-webkit-transform: scale(1,1.111111);
	-moz-transform: scale(1,1.111111);
	transform: scale(1,1.111111);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,1.111111,0,-0);
	-ms-transform-origin: top left;
}
.stl_15 {
	font-size: 0.9em;
	font-family: "GDAACW+LiberationSerif-Bold";
	color: #000000;
}
.stl_16 {
	letter-spacing: 0em;
}

.ie .stl_16 {
	letter-spacing: 0px;
}
.stl_17 {
	-o-transform: scale(1,0.9375058);
	-webkit-transform: scale(1,0.9375058);
	-moz-transform: scale(1,0.9375058);
	transform: scale(1,0.9375058);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,0.9375058,0,-0);
	-ms-transform-origin: top left;
}
.stl_18 {
	font-size: 1.06666em;
	font-family: "GDAACW+LiberationSerif-Bold";
	color: #000000;
}
.stl_19 {
	-o-transform: scale(1,0.9266466);
	-webkit-transform: scale(1,0.9266466);
	-moz-transform: scale(1,0.9266466);
	transform: scale(1,0.9266466);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,0.9266466,0,-0);
	-ms-transform-origin: top left;
}
.stl_20 {
	font-size: 1.07916em;
	font-family: "GDAACW+LiberationSerif-Bold";
	color: #000000;
}
.stl_21 {
	-o-transform: scale(1,0.9090909);
	-webkit-transform: scale(1,0.9090909);
	-moz-transform: scale(1,0.9090909);
	transform: scale(1,0.9090909);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,0.9090909,0,-0);
	-ms-transform-origin: top left;
}
@font-face {
	font-family:"VTQBDV+LiberationSerif";
	src:url("d73d5b70-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_22 {
	font-size: 1.1em;
	font-family: "VTQBDV+LiberationSerif";
	color: #000000;
}
.stl_23 {
	letter-spacing: -0.0003em;
}

.ie .stl_23 {
	letter-spacing: -0.0054px;
}
.stl_24 {
	letter-spacing: -0.0002em;
}

.ie .stl_24 {
	letter-spacing: -0.0029px;
}
.stl_25 {
	font-size: 1em;
	font-family: "VTQBDV+LiberationSerif";
	color: #000000;
}
.stl_26 {
	letter-spacing: 0.0008em;
}

.ie .stl_26 {
	letter-spacing: 0.0136px;
}
.stl_27 {
	-o-transform: scale(1,0.8333402);
	-webkit-transform: scale(1,0.8333402);
	-moz-transform: scale(1,0.8333402);
	transform: scale(1,0.8333402);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,0.8333402,0,-0);
	-ms-transform-origin: top left;
}
.stl_28 {
	font-size: 1.19999em;
	font-family: "VTQBDV+LiberationSerif";
	color: #000000;
}
.stl_29 {
	letter-spacing: -0.001em;
}

.ie .stl_29 {
	letter-spacing: -0.0177px;
}
.stl_30 {
	-o-transform: scale(1,0.952381);
	-webkit-transform: scale(1,0.952381);
	-moz-transform: scale(1,0.952381);
	transform: scale(1,0.952381);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,0.952381,0,-0);
	-ms-transform-origin: top left;
}
.stl_31 {
	font-size: 1.05em;
	font-family: "VTQBDV+LiberationSerif";
	color: #000000;
}
.stl_32 {
	letter-spacing: -0.0004em;
}

.ie .stl_32 {
	letter-spacing: -0.0074px;
}
.stl_33 {
	letter-spacing: -0.002em;
}

.ie .stl_33 {
	letter-spacing: -0.0347px;
}
.stl_34 {
	letter-spacing: -0.0007em;
}

.ie .stl_34 {
	letter-spacing: -0.0116px;
}
.stl_35 {
	letter-spacing: -0.0012em;
}

.ie .stl_35 {
	letter-spacing: -0.0206px;
}
.stl_36 {
	letter-spacing: -0.0009em;
}

.ie .stl_36 {
	letter-spacing: -0.0158px;
}
.stl_37 {
	letter-spacing: -0.0013em;
}

.ie .stl_37 {
	letter-spacing: -0.0221px;
}
.stl_38 {
	-o-transform: scale(1,0.983613);
	-webkit-transform: scale(1,0.983613);
	-moz-transform: scale(1,0.983613);
	transform: scale(1,0.983613);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,0.983613,0,-0);
	-ms-transform-origin: top left;
}
.stl_39 {
	font-size: 1.01666em;
	font-family: "VTQBDV+LiberationSerif";
	color: #000000;
}
.stl_40 {
	letter-spacing: 0.0006em;
}

.ie .stl_40 {
	letter-spacing: 0.01px;
}
.stl_41 {
	letter-spacing: 0.0011em;
}

.ie .stl_41 {
	letter-spacing: 0.0175px;
}
.stl_42 {
	letter-spacing: 0.0004em;
}

.ie .stl_42 {
	letter-spacing: 0.0068px;
}
.stl_43 {
	letter-spacing: -0.0014em;
}

.ie .stl_43 {
	letter-spacing: -0.0241px;
}
.stl_44 {
	letter-spacing: -0.0019em;
}

.ie .stl_44 {
	letter-spacing: -0.034px;
}
.stl_45 {
	-o-transform: scale(1,1.052632);
	-webkit-transform: scale(1,1.052632);
	-moz-transform: scale(1,1.052632);
	transform: scale(1,1.052632);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,1.052632,0,-0);
	-ms-transform-origin: top left;
}
.stl_46 {
	font-size: 0.95em;
	font-family: "GDAACW+LiberationSerif-Bold";
	color: #000000;
}
.stl_47 {
	letter-spacing: 0.0001em;
}

.ie .stl_47 {
	letter-spacing: 0.0017px;
}
@font-face {
	font-family:"BGPWWK+DejaVuSerif-Bold";
	src:url("5e038817-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_48 {
	font-size: 1.1em;
	font-family: "BGPWWK+DejaVuSerif-Bold", "Times New Roman";
	color: #000000;
}
.stl_49 {
	font-size: 1.1em;
	font-family: "GDAACW+LiberationSerif-Bold";
	color: #000000;
}
.stl_50 {
	letter-spacing: 0.0019em;
}

.ie .stl_50 {
	letter-spacing: 0.0334px;
}
@font-face {
	font-family:"VVVJDF+DejaVuSerif";
	src:url("a4352431-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_51 {
	font-size: 1.1em;
	font-family: "VVVJDF+DejaVuSerif", "Times New Roman";
	color: #000000;
}
.stl_52 {
	letter-spacing: 0.0032em;
}

.ie .stl_52 {
	letter-spacing: 0.057px;
}
.stl_53 {
	letter-spacing: -0.0029em;
}

.ie .stl_53 {
	letter-spacing: -0.0516px;
}
.stl_54 {
	letter-spacing: -0.0036em;
}

.ie .stl_54 {
	letter-spacing: -0.0627px;
}
.stl_55 {
	letter-spacing: 0.001em;
}

.ie .stl_55 {
	letter-spacing: 0.0172px;
}
.stl_56 {
	letter-spacing: -0.0006em;
}

.ie .stl_56 {
	letter-spacing: -0.0108px;
}
.stl_57 {
	letter-spacing: -0.0043em;
}

.ie .stl_57 {
	letter-spacing: -0.0763px;
}
.stl_58 {
	letter-spacing: 0.004em;
}

.ie .stl_58 {
	letter-spacing: 0.0706px;
}
.stl_59 {
	letter-spacing: -0.0011em;
}

.ie .stl_59 {
	letter-spacing: -0.019px;
}
.stl_60 {
	letter-spacing: -0.0015em;
}

.ie .stl_60 {
	letter-spacing: -0.0268px;
}
.stl_61 {
	font-size: 1.1em;
	font-family: "VTQBDV+LiberationSerif";
	color: #202124;
}
.stl_62 {
	font-size: 1.1em;
	font-family: "VVVJDF+DejaVuSerif", "Times New Roman";
	color: #202124;
}
.stl_63 {
	letter-spacing: 0.0007em;
}

.ie .stl_63 {
	letter-spacing: 0.0126px;
}
.stl_64 {
	letter-spacing: -0.0027em;
}

.ie .stl_64 {
	letter-spacing: -0.0483px;
}
.stl_65 {
	letter-spacing: 0.0027em;
}

.ie .stl_65 {
	letter-spacing: 0.0479px;
}
.stl_66 {
	letter-spacing: -0.0049em;
}

.ie .stl_66 {
	letter-spacing: -0.0866px;
}
.stl_67 {
	letter-spacing: -0.0022em;
}

.ie .stl_67 {
	letter-spacing: -0.0379px;
}
